{% extends "layout.html" %}

{% block body %}

    <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h3 class="fw-bolder mb-1">{{ article.title}}</h3>
                            {# Author#}
                            <p class="lead"> {{article.author.username}}  </p>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ article.created_date}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Preview image figure-->
                        {% if article.article_image %}
                            <img class="img-fluid rounded" src="{{ article.article_image }}" alt="">
                        {% endif %}

                        <!-- Post content-->
                        <section class="mb-5">
                            <p> {{ article.content|safe}} </p>
                        </section>
                    </article>
                <h4>Yorumlar</h4>
                    <hr>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                               <h5 class="mt-0">{{comment.comment_author }}</h5>
                                {{ comment.comment_date }}
                                <br>
                                {{ comment.comment_content }}
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    

                    {% else %}
                    <div class="alert alert-danger"> Henüz Yorum Yapılmamış</div>
                {% endif %}

                <div class="card my-4">
                    <h5 class="card-header">Yorum Ekle: </h5>
                        <div class="card-body">
                            <form method="POST" action="{% url "article:comment" article.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="formGroupExampleInput">İsim</label>
                                    <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsim Soyisim">
                                </div>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Yorum</label>
                                    <textarea name="comment_content" class="form-control" rows="3"></textarea>
                                </div>
                            <button type="submit" class="btn btn-primary">Gönder</button>
                            </form>
                        </div>
                </div>

            </div>
        </div>



{% endblock %}