{% extends "layout.html" %}

{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}



<p>
    {% if request.user.is_authenticated %}
        <div class="col-md-6 offset-md-3">
            <img src=" {% static '/pythonDjango.png' %}">
        </div>

    {% else %}
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <img src=" {% static '/pythonDjango.png' %}">
            <h3>Login In</h3>
                <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-danger">Login </button>
            </form>
          </div>
        </div>
    {% endif %}
</p>

{% endblock %}